.tanpa-bootstrap {
    border: none;
    padding: 20px;
    font-weight: 800;
    font-size: 3em;
    background-color: rgb(201, 170, 66);
    color: azure;
    cursor: pointer;
}

.tanpa-bootstrap:hover {
    background-color: blueviolet;
    transform: rotateY(30);
    transition: all .2s;
}